/* css reset for the page */
:root {
    --firewall-dragon: 160deg, darkblue, silver;
    --cool-shadow: 5px 5px 5px black;
    --corn: cornflowerblue;
    --ritual: aqua;
    --darkhole: 2px solid black;
    --card: lightgray;
    --darktext: darkblue;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.body {
    font-family: sans-serif;
    background-color: var(--corn);
    position: relative;
}
    
.body header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(var(--firewall-dragon));
    border: var(--darkhole);
    box-shadow: var(--cool-shadow);
    color: white;
}

.body header h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
nav a {
    font-size: 120%;
    color: var(--darktext);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

.main {
    flex: 1;
    background-color: var(--corn);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 175px 20px;
}
  
  .card {
    background-color: var(--card);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    flex: 1 1 300px;
    /* transform: rotate(8deg); */
    /* box-shadow: var(--cool-shadow); */
    margin: 20px;
  }
  
  .card h3 {
    font-size: 150;
    background-color: var(--card);
    border: var(--darkhole);
    margin-top: -25px;
    border-radius: 10px;
    z-index: 1;
  }
  
  .card:hover, .card h3:hover, footer:hover {
    background: linear-gradient(var(--firewall-dragon));
    border: var(--darkhole);
    box-shadow: var(--cool-shadow);
    color: white;
  }
  
  .card:hover {  
    /* transform: rotate(5deg); */
    translate: -10px;
  }
  
  @media screen and (max-width: 992px) {
    body header h1, h2 {
      width: 100%
    }
  }
  
  @media screen and (max-width: 768px) {
    main {
      width: 50%
    }  
  }