/* root files/variables */
:root {
  --firewall-dragon: 180deg, darkblue, silver;
  --cool-shadow: 5px 5px 5px black;
  --cool-shadow-inset: 0 0 10px black inset;
  --corn: cornflowerblue;
  --ritual: aqua;
  --darkhole: 2px solid black;
  --card: lightgray;
  --darktext: darkblue;
  --find-me-red: red;
  --sidebar-border: 5px solid black;
}

/* css reset for the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Body section which makes up most of the content on the page*/
.body {
  font-family: sans-serif;
  background-color: var(--corn);
  position: relative;
}
  
.body header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: linear-gradient(var(--firewall-dragon));
  border: var(--darkhole);
  box-shadow: var(--cool-shadow);
  color: white;
}

.body header h1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

/* Navigation bar that is fixed on the top of the page with links to different sections on the page and external links */
nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

nav a, footer a {
  font-size: 90%;
  color: var(--darktext);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Hover psuedo-element that turns the links in .nav blue*/
nav a:hover, footer a:hover {
  color: var(--ritual);
}

/* Larger boxes that will contain the about me section and .card(s) of projects */
.main {
  position: relative;
  flex: 1;
  background-color: var(--corn);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.main h2 {
  font-size: 95%;
}

/* The smaller boxes that contain images and external links to other projects  */
.card {
  background-color: var(--card);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
  flex: 1 1 300px;
  margin: 20px;
}

.card h3 {
  font-size: 150%;
  background-color: var(--card);
  border: var(--darkhole);
  margin-top: -25px;
  border-radius: 10px;
  z-index: 1;
}

/* ID that lets the image fit the full page */
#bigcard {
  width: 100%;
  flex: 1 1 100%;
}

/* Resizes images within card so they'll get smaller when the window size gets smaller */
.card img {
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  border-radius: 10px;
  filter: grayscale(1);
}

/* Class specifically for my picture and resizing */
.portrait {
  display: flex;
  justify-content: center;
  flex: 1 1 300px;
  width: 25%;
  height: 25%;
  padding-top: 30vh;
}

.portrait img {
  border: 5px solid black;
  display: block;
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
  border-radius: 25px;
}

/* Side bars on the left side of the page with a border on one side*/
.sidebar {
  flex: 1 1 200px;
  border-right: var(--sidebar-border);
  padding: 200px 100px;
  clear: both;
  float: left;
  width: 10%;
  height: 100%;
}

.sidebar-last {
  flex: 1 1 200px;
  border-right: var(--sidebar-border);
  padding: 100px;
  clear: both;
  float: left;
  width: 10%;
  height: 50%;
}

/* Hover pseudo-elements for .card, changes the background, moves the .card a little, and removes the grayscale on the images.  */
.card:hover, .card:hover h3, .card:hover img {
  background: linear-gradient(var(--firewall-dragon));
  border: var(--darkhole);
  box-shadow: var(--cool-shadow);
  color: white;
  translate: -5px;
  transition: 1s ease;
  filter: grayscale(0);
}

/* Active pseudo-element that gives an inset box-shadow when the .card is clicked. */
.card:active {
  font-size: 80%;
  box-shadow: var(--cool-shadow-inset);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 300px;
  width: auto;
}

@media screen and (max-width: 992px) {
  body header h1, h2 {
    width: 100%
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 50%
  }  
}